.goban-container{
    width: 50%;
    margin-left: 25%;
}
  
.solution-container {
margin-bottom: 10px;
font-size: 18px;
color: #333;
}

.solution-container p {
margin: 0;
}

.response-result{
    position: relative;
    z-index: 1000;
    display: flex;
    width: 80%;
}

.response-result p{

    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: .5rem;
    color: white;
    padding: 1rem;
    box-shadow: #333;
    text-align: center;
}
  