body , code , html {
  margin: 0;
  padding: 0;

  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}


a{
  text-decoration: none;
  color: black;
}

h1, h2 {
  text-align: center;
  margin-top: 6rem;
}

.area-search{
  margin-top: 10rem;
}

.row {
  display: flex;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.game-item{
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}
.game-item p{
  position: absolute;
  z-index: 100;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  border: none;
}
.backImage img{
  position: relative;
  z-index: -200;
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  filter: brightness(0.6);
  box-shadow: -1px 2px 5px 1px 
  rgba(0, 0, 0, 0.7);
}

.backImage img:hover{
  position: relative;
  z-index: -200;
  width: 320px;
  height: 300px;
  border-radius: 1rem;
  filter: brightness(0.9);
  transition: .5s;
}

.loading-page{
  font-size: 4rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  color: lightgray;
}

.pagination-info{
  text-align: center;
  padding: 1rem;
}

.active{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.nextGame{
  position: fixed;
  z-index: 100;
  bottom: 40%;
  right: 1rem;
}

.prevGame{
  position: fixed;
  z-index: 100;
  bottom: 40%;
  left: 1rem;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles pour la navigation responsive */
@media screen and (max-width: 768px) {
  h1, h2 {
    text-align: center;
    margin-top: 4rem;
  }

  .game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
