.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  text-align: center;
  margin-top: 6rem;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.cell-0 {
  background-color: #f0f0f0;
}

.cell-1 {
  background-color: #000;
  color: #fff;
}

.cell--1 {
  background-color: #fff;
  color: #000;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
