.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}


a{
  text-decoration: none;
  color: black;
}

h1, h2 {
  text-align: center;
  margin-top: 6rem;
}

.area-search{
  margin-top: 10rem;
}

.row {
  display: flex;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.game-item{
  width: 300px;
  height: 300px;
  background-color: lightgray;
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles pour la navigation responsive */
@media screen and (max-width: 768px) {
  h1, h2 {
    text-align: center;
    margin-top: 4rem;
  }

  .game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
